doctype html
html(lang="zh-tw")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-compatible" content="ie=edgechrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
  title Jack Huang RESUME
  meta(name="description" content="黃俊傑的個人網站")
  meta(name="author" content="黃俊傑")
  meta(property="og:title" content="黃俊傑的個人網站")
  meta(property="og:description" content="自己架設的履歷網站")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://jack842248.github.io/")
  meta(property="og:image" content="...")
  meta(property="og:site_name" content="黃俊傑的個人網站")
  meta(name="twitter:title" content="黃俊傑的個人網站")
  meta(name="twitter:card" content="自己架設的履歷網站")
  meta(name="twitter:description" content="自己架設的履歷網站")
  meta(name="twitter:image" content="...")
  link(rel="canonical" href="https://jack842248.github.io/")
  link(rel="icon" href="./images/favicon.ico")
  base(target="_blank")
  link(rel="stylesheet" href="css/bootstrap_4.5.3.css")
  link(rel="stylesheet" href="css/lightbox2.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
  link(rel="stylesheet" href="css/style.css")
body
  wrap.container-fluid.p-0.m-0
    .row
      header.col-xl-3.p-4
        a(href="#")
          img.my-photo.my-4(src="images/my_photo.png")
        h1 Hello! 
          strong 我是黃俊傑<br>每天努力學習網頁設計
        small.my-3 | 友善 | 謙虛 | 愛乾淨 | 責任感 |
        ul.my-4
          li 男/B型
          li 1995.02.24(25歲)
          li 大葉大學多媒體設計系
          li 前鎮區瑞春街93巷53號
          li jack842248@gmail.com
          li 0905-351106
        .header-iconbox.my-3
          a(href="https://www.facebook.com/jack842248")
            i.fab.fa-facebook.fa-2x
          a(href="https://www.instagram.com/jack842248/")
            i.fab.fa-instagram.fa-2x
          a(href="mailto:jack842248@gmail.com")
            i.fas.fa-envelope.fa-2x
          .copyright.mt-4 jack842248@github.io｜Jack Huang RESUME
        .scrolldown
      main.col-xl-9
        .container.p-4
          section#about.row
            .col-12
              h2.title.my-4 關於我
              p.intro-content 我來自桃園中壢，畢業於大葉大學多媒體設計系，近日搬來高雄前鎮。<br>平時很常使用3C產品，在網路上看到許多互動網頁覺得很有趣，決定在Hahow好學校購買課程，每天觀看教學來學習網頁語法。<br>近日也開始學習六角學院所開設的課程，了解到更多專業的技巧與知識，目標是希望找到一份能穩定且長久的工作。
          section#skill.form-row
            .col-12
              hr.my-4
              h2.title.my-4 網頁技能卡
            .col-6.col-sm-4.col-md-3.my-2(v-for="skill in skills")
              .card.py-4(v-on:click="button(skill)")
                span.card-border-1
                span.card-border-2
                span.card-overlay
                .card-img-top
                  img.card-icon(v-bind:src="skill.img" v-bind:class="{'card-icon-down':skill.selceted}")
                ul.card-body(v-bind:class="{'card-body-down':skill.selceted}")
                  li.card-title {{skill.title}}
                  li.card-text(v-html="skill.text")
          section.row
            .col-12
              hr.my-4
              h2.title.my-4 網站作品集
            .col-12.mb-5
              #carouselExampleCaptions.carousel.slide(data-ride="carousel")
                ol.carousel-indicators
                  li.active(data-target="#carouselExampleCaptions" data-slide-to="0")
                  li(data-target="#carouselExampleCaptions" data-slide-to="1")
                  li(data-target="#carouselExampleCaptions" data-slide-to="2")
                  li(data-target="#carouselExampleCaptions" data-slide-to="3")
                  li(data-target="#carouselExampleCaptions" data-slide-to="4")
                  li(data-target="#carouselExampleCaptions" data-slide-to="5")
                .carousel-inner
                  .carousel-item.active
                    a(href="https://jack842248.github.io/top-point/" target="_blank")
                      img.d-block.w-100(src="images/webpic/top-point.jpg")
                  .carousel-item
                    a(href="https://jack842248.github.io/yellow-studio/" target="_blank")
                      img.d-block.w-100(src="images/webpic/yellow-studio.jpg")
                  .carousel-item
                    a(href="https://jack842248.github.io/gomach/" target="_blank")
                      img.d-block.w-100(src="images/webpic/gomach.jpg")
                  .carousel-item
                    a(href="https://cdpn.io/mteqifii/debug/NWRNPXG/dXAqBaEGgyVk" target="_blank")
                      img.d-block.w-100(src="images/webpic/glasses.jpg")
                  .carousel-item
                    a(href="https://cdpn.io/mteqifii/debug/ExgjjJZ/yPkJjRoqQxxk" target="_blank")
                      img.d-block.w-100(src="images/webpic/joannae.jpg")
                  .carousel-item
                    a(href="https://cdpn.io/mteqifii/debug/vYXYXZg/NjrYzGPbojoA" target="_blank")
                      img.d-block.w-100(src="images/webpic/hexschool.jpg")
                a.carousel-control-prev(href="#carouselExampleCaptions" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")
                a.carousel-control-next(href="#carouselExampleCaptions" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
            .col-md-6.mb-5
              a.web-box(href="https://codepen.io/mteqifii/pen/KKgmreM" target="_blank")
                .web-img(style="background-image:url(images/webpic/shoplist.jpg)")
                .web-overlay
                  p 用Vue.js實作購物清單，可以新增或刪除品項，並且自動加總商品價錢。框架用Bootstrap，符合RWD響應式網頁
              a.web-btn(href="https://codepen.io/mteqifii/pen/KKgmreM" target="_blank") 前往網址
            .col-md-6.mb-5
              a.web-box(href="https://codepen.io/mteqifii/pen/wvzMpJB" target="_blank")
                .web-img(style="background-image:url(images/webpic/exchangelist.jpg)")
                .web-overlay
                  p 用Vue.js實作幣值匯率轉換，可以輸入將要轉換的金額，並且及時觀看。框架用Bootstrap，符合RWD響應式網頁
              a.web-btn(href="https://codepen.io/mteqifii/pen/wvzMpJB" target="_blank") 前往網址
            .col-12.mb-5
              a.web-box(href="https://jack842248.github.io/bmi-calc/" target="_blank")
                .web-img(style="background-image:url(images/webpic/bmi-calc.jpg)")
                .web-overlay
                  p 用javascript、jQuery做BMI、體脂肪計算功能。<br>外框使用Bootstrap，符合RWD響應式。<br>呈現動畫效果使用animateNumber套件。
              a.web-btn(href="https://jack842248.github.io/bmi-calc/" target="_blank") 前往網址
          section#works.form-row
            .col-12
              hr.my-4
              h2.title.my-4 Illustrator作品
            .col-6.col-sm-4.col-md-3.col-lg-2.mt-2(v-for="work in works1")
              a.works-overlay(:href="work" data-lightbox="illustratorpic")
                img(:src="work")
            .d-none.d-sm-block.col-sm-4.col-md-3.col-lg-2.mt-2(v-for="work in works2")
              a.works-overlay(:href="work" data-lightbox="illustratorpic")
                img(:src="work")
            .d-none.d-md-block.col-md-3.col-lg-2.mt-2(v-for="work in works3")
              a.works-overlay(:href="work" data-lightbox="illustratorpic")
                img(:src="work")
            .d-none.d-lg-block.col-lg-2.mt-2(v-for="work in works4")
              a.works-overlay(:href="work" data-lightbox="illustratorpic")
                img(:src="work")
            .col-12.mt-4
              a.btn(href="https://www.instagram.com/jack842248/" style="white-space: nowrap") 更多作品
          section.row
            .col-12
              hr.my-4
              h2.title.my-4 聯絡我
              p.contact-content 如果你覺得我不錯，考慮給我個工作機會的話，請聯繫我!謝謝!!!<br>我將會一直不斷的觀看更多教學，來提升自己的網頁能力。
            form.row.w-100(action='https://formspree.io/f/xqkgggya' method='POST')
              .col-md-8.mt-4
                .form-row.px-3
                  .col-lg-6.form-group
                    input.form-control.bg-light(type="text" name="name" placeholder="請輸入您的大名" required)
                  .col-lg-6.form-group
                    input.form-control.bg-light(type="email" name="_replyto" placeholder="請輸入您的信箱" required)
                .col-12.form-group
                  input.form-control.bg-light(type="text" name="Subject" placeholder="請輸入信件主旨" required)
                .col-12.form-group
                  textarea.form-control.bg-light(name="message" cols="40" rows="10" placeholder="請輸入信件內容..." required)
                .col-12
                  input.btn(type="submit" value="送出信件")
              .col-md-4.mt-4
                .d-none.d-md-block
                  i.fas.fa-home.fa-2x
                  p 高雄市前鎮區瑞春街93巷53號
                  i.fas.fa-mobile-alt.fa-2x
                  p 0905-351106
                  i.far.fa-envelope-open.fa-2x
                  p jack842248@gmail.com
      footer.col-xl-12.mt-4
        .iconbox
          a(href="https://www.facebook.com/jack842248")
            i.fab.fa-facebook.fa-2x
          a(href="https://www.instagram.com/jack842248/")
            i.fab.fa-instagram.fa-2x
          a(href="mailto:jack842248@gmail.com")
            i.fas.fa-envelope.fa-2x
        .copyright jack842248@github.io｜Jack Huang RESUME



script

script(src="js/jQuery_3.4.1.js")
script(src="js/bootstrap_4.5.3.js")
script(src="js/lightbox2.js")
script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js")
script(src="js/all.js")